[Desktop Entry]
Type=X-MeeGoTouch-Metatheme
Name=Funky Ocean
Encoding=UTF-8
Version=1.0
Terminal=false
Icon=/usr/share/icons/hicolor/64x64/apps/funkyocean.png
NotShowIn=X-MeeGo;
NoDisplay=true
