Source: funkyocean
Section: user/graphics
Priority: optional
Maintainer: Saija Etelaniemi <setelani@live.com>
Homepage: http://leimu.drupalgardens.com
Build-Depends: debhelper (>= 4)
Standards-Version: 3.7.3

Package: funkyocean
Architecture: all
Description: Theme for Harmattan
 This package installs a custom theme for Harmattan platform. To change to use this theme, you'll also need ThemeChanger tool.
