Source: FunkyOcean
Section: user/graphics
Priority: optional
Maintainer: Saija Etelaniemi <setelani@live.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: http://leimu.drupalgardens.com

Package: funkyocean
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Theme for Harmattan
 This package installs a custom theme for Harmattan platform. To change to use this theme, you'll also need ThemeChanger tool.
XSBC-Maemo-Display-Name: Funky Ocean

